.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;

  h1{
    font-weight: normal;
  }

  .row {
    display: flex;
    align-items: baseline;
    margin: 7px 0 30px 0;
    padding-bottom: 30px;
    border-bottom: 0.5px solid var(--main-bg);

    .icon {
      transform: translate(0, 1px);
      margin-right: 12px;
      min-width: 12px;
      min-height: 12px;
      border-radius: 50%;
      background: #000;
    }
  }

  .stats-volunters-container{
    padding: 30px 20px;
    background-color: white;
    border-radius: 15px;
  }
}
