<main class="container">
  <section>
    <h1>Les volontaires</h1>
    <div class="row">
      <div class="icon"></div>
      <div>Retrouvez la liste de toutes les inscriptions à vos missions</div>
    </div>

    <div class="stats-volunters-container">
      <section>
        <app-stats></app-stats>
      </section>
      <section>
        <app-volunteers-list></app-volunteers-list>
      </section>
    </div>
  </section>
</main>
