.container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;
  margin-top: 50px;

  .volunteer-start {
    display: flex;
    flex: 2;
    padding: 20px;
    border-bottom: 2px solid #00000014;

    .left {
      flex: 1;
      text-align: center;

      .avatar {
        width: 110px;
        height: 110px;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .id {
        padding: 4px 0;
        color: var(--black-2);
        font-size: 16px;
      }

      .createdDate {
        padding: 4px 0;
        color: var(--black-3);
        font-size: 14px;
      }
    }

    .right {
      flex: 2;
      text-align: left;
      padding: 0 24px;
      color: var(--black-1);
      font-size: 14px;

      .volunteer-name {
        font-size: 16px;
        font-weight: 800;
      }

      .company-name {
        color: var(--black-2);
      }

      .initiative {
        margin-top: 18px;

        .row {
          display: flex;
          align-items: baseline;
          margin-top: 7px;

          .icon {
            transform: translate(0, 1px);
            margin-right: 12px;
            min-width: 12px;
            min-height: 12px;
            border-radius: 50%;
            background: #000;
          }
        }
      }
    }
  }

  .volunteer-end {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 20px;

    .statut {
      display: flex;
      align-items: center;
      height: 20px;

      .label {
        color: var(--black-3);
        font-size: 14px;
        margin-right: 20px;
        min-width: 50px;
      }

      .type {
        display: flex;
        align-items: center;
        padding: 5px 10px 5px 5px;
        color: var(--black-2);
        font-size: 14px;
        box-shadow: 1px 1px 15px #00000029;
        border: 1px solid var(--main-bg);
        border-radius: 20px;

        .status-color {
          display: inline-block;
          min-width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-left: 5px;
          margin-right: 10px;
        }
      }
    }

    .entries-list{
      width: fit-content;
      margin: 40px 0 0 15px;
      color: var(--black-2);

      .entries{
        margin: 10px 0;
        padding: 10px 0;
        border-bottom: 2px solid #00000014;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 978px) {
  .container {
    flex-direction: row;

    .volunteer-start {
      border-bottom: none;
      border-right: 2px solid #00000014;

      .left {
        .avatar {
          width: 153px;
          height: 153px;
        }
      }
    }
  }
}
