<article class="container">
  <div class="volunteer-start">
    <div class="left">
      <div class="avatar">
        <img [src]="'assets/img/avatars/' + randomPictAvatar + '.png'" alt="avatar"/>
      </div>
      <div class="id">{{ wishes.id }}</div>
      <div class="createdDate">Inscrit le : {{ wishes.createdDate | date:'longDate' }}</div>
    </div>
    <div class="right">
      <div class="volunteer-name">{{ wishes.volunteerProfile.firstname }} {{ wishes.volunteerProfile.lastname }}</div>
      <div class="company-name">{{ wishes.volunteerProfile.company.name }}</div>
      <div class="initiative">
        <div class="row">
          <div class="icon"></div>
          <div>{{ wishes.initiative.title }}</div>
        </div>
        <div class="row">
          <div class="icon"></div>
          <div>{{ wishes.initiative.city }}</div>
        </div>
        <div class="row">
          <div class="icon"></div>
          <div>{{ wishes.coordinatorProfile.lastname }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="volunteer-end">
    <div class="statut">
      <div class="label">Statut : </div>
      <div class="type">
        <span class="status-color"
              [ngStyle]="{'background-color':statsService.getColor(wishes.status)}"></span> {{ statsService.getLabel(wishes.status) }}
      </div>
    </div>
    <div *ngIf="wishes.entries?.length >= 1" class="entries-list">
      <div *ngFor="let entries of wishes.entries" class="entries">
        Le {{ entries.dateBegin | date:'shortDate' }}, de {{ entries.dateBegin | date:'shortTime' }} à {{ entries.dateEnd | date:'shortTime'}} ({{ getCalcTime(entries.dateBegin, entries.dateEnd) }})
      </div>
    </div>
  </div>
</article>
