<div class="container">
  <h2 class="title">La liste de vos volontaires</h2>
  <app-volunteers-detail  *ngFor="let wishes of localWishesState.wishes"
                          [wishes]="wishes"></app-volunteers-detail>
</div>
