<h2 class="title">En ce moment</h2>
<div class="registration"><span class="number">{{ localStatsState.totalCount }}</span> inscription{{ localStatsState.totalCount > 1 ? 's' : '' }}</div>
<app-progress-bar [stats]="localStatsState.stats"
                  [totalCount]="localStatsState.totalCount"></app-progress-bar>
<div class="registration-status">Suivez les inscriptions en fonction de leur statut :</div>
<div class="status-container">
  <app-status *ngFor="let stats of localStatsState.stats"
              [stats]="stats"
              [currentStatus]="localStatsState.currentStatus"></app-status>
</div>
