.title{
  font-weight: lighter;
}

.registration{
  font-size: 24px;
  font-weight: 800;

  .number{
    font-size: 46px;
  }
}

.registration-status{
  margin-top: 30px;
  color: var(--black-2);
}

.status-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  max-width:600px;
  margin-top: 30px;
}
