.type {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px 10px 5px 5px;
  width: calc(100vw - 80px);
  height: 44px;
  color: var(--black-2);
  font-size: 12px;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #D8D8D8;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;

  .status-color {
    flex: 1;
    display: inline-block;
    max-width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
  }

  .status-label{
    flex: 4;
  }

  .status-count{
    flex: 1;
    text-align: center;
    font-size: 16px;
  }
}

.status-active{
  background-color: #999;
  color:white;
}

@media (min-width: 449px) {
  .type {
    width: 150px;
  }
}
