<button class="type" (click)="changeStatus()" [ngClass]="{'status-active':stats.status == currentStatus}">
  <span class="status-color" [ngStyle]="{'background-color':stats.color}"></span>
  <span class="status-label"> {{ stats.label }}</span>
  <span class="status-count">{{ stats.count }}</span>
</button>
