.container-progress {
  display: flex;
  margin-top: 30px;
  max-width: 600px;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
}

.container-statut-progress {
  display: flex;
  position: relative;
  top: -20px;
  max-width: 600px;
  height: 20px;
  user-select: none;

  .status-progress {
    .status-name {
      position: relative;
      opacity: 0;
      top: -18px;
      font-size: 12px;
      overflow: visible;
      white-space: nowrap;

      span {
        display: none;
        padding: 7px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background-color: white;
      }
    }
  }

  .status-progress:hover {
    .status-name {
      opacity: 1;
      top: -25px;
      transition: all 0.2s ease-in;

      span {
        display: initial;
      }
    }
  }
}
