<div class="container-progress">
  <div  *ngFor="let stat of stats"
        [ngStyle]="{'background-color':stat.color,
                    'width':(100 * stat.count / totalCount) + '%'}">
  </div>
</div>

<div class="container-statut-progress">
  <div  *ngFor="let stat of stats"
        class="status-progress"
        [ngStyle]="{'width':(100 * stat.count / totalCount) + '%'}">
      <div class="status-name"><span>{{ stat.label }}</span></div>
  </div>
</div>
