@import url('https://fonts.googleapis.com/css?family=Rubik');

html, body{
  margin: 0;
  padding: 0;
}


:root {
  // Font
  font-family: 'Rubik';

  /* Colors: */
  --main-bg: #fafafa;
  --container-bg: #ffffff;
  --black-1: #0c0c0c;
  --black-2: #404040;
  --black-3: #8c8c8c;

  // bg
  background-color: var(--main-bg);
}
